*{
    text-decoration: none;
    font-family: "suditipos";
}
body{
    background-color: white;
}
.header{
    height: 200px;
    }
.nav{
    /* text-align: right; */
    }
.nav ul{
    float: right;
    margin-top: -1%;
    /* display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0; */
    
    }
    ul li{
        padding: 7px;
        display:inline-flex;
       
        flex-flow: row-reverse;
    }
.nav ul li a{
    text-decoration: none;
    color: black;
    float: left;
}
    
.nav ul li a:hover{
    color:skyblue;
    }
  
.blue{
    margin-top: -4.5%;
    margin-left: 6%;
    }
.image1 img{
    height: 150px;
    width: 150px;
    padding: 3%;
    border-radius: 50%;
    float: left;
}
    .image1 h2{
        float: left;
        text-align: center;
        width: 100%;
    }
.image1{
    background-color: #66D19E;
    height: 400px;
    margin-top: 0%;
    text-align: center;
    }
.images img{
    width: 300px;
    height: 300px;
    float: left;
    padding: 1%;
    margin-left: 6.2%;
   }
.images{
       background-color:black;
   }
   button{
       color: black;
   }
   .form{
       color: black;
   }
   .footer{
       height: 400px;
       background-color: black;
       color: white;
       margin-top: -10%;
       
   }
   .section1{
       height: 900px;
   }
   .end1{
       margin-right: 200%;
       margin-top: -12%;
       float: left;
     
   }
   .top-image img{
       height: 400px;
       width: 100%;
       margin-top: -13%;
   }
   .ul1{
       text-decoration: none;
       margin-left: 70%;  
    }
    .ul1 li{
        color: white;
    }
    .ul1 li,.ul2 li{
        display: block;
    }
   .ul1 li a{
       text-decoration:none;
   }
  .ul2{
     margin-left: 70%;
     
     
      
  }
  .ul2 li a{
      text-decoration: none;
  }
  .p1 img{
      width: 30%;
      height: 300px;
      float: center;
  }
  .p1{
      text-align: center;
      font-size: 30px;
  }
  .p1 button{
      font-size: 20px;
      width: 200px;
      border-radius:5px ;
      background-color:  #66D19E;
      
  }
  .section2 h4{
      margin-top: -8%;
      font-family: cursive;
      font-size: 30px;
      text-align: center;
      color: darkgoldenrod;
      font-style: italic;
      width: 100%;
      float: left;
      /* margin-top: 5px; */
      line-height: 30px;
  }
  .section2{
      min-height: 3300px;
  }
  .section2 h3{
      margin-top: -5%;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    color: darkgoldenrod;
    font-style: italic;
    width: 100%;
    float: left;
    /* line-height: 30px; */
  }
  .small{
      width: 100%;
      height: 300px;
  }
.small p{
 float: left;
 margin-left: 4%;
}
.small img{
    width: 20%;
    height: 200px;
    margin-left: 4%;
    float: left;
}
.small button{
    float: left;
 margin-left: 4%;
 margin-top: 1%;
 font-size: large;
 background-color:yellowgreen;
}
.small1 button{
    float: left;
    margin-left:4%;
    margin-top: 0.7%;
    font-size: large;
    background-color:yellowgreen;
}
.small1 p{
    float: left;
    margin-left: 4%;
    margin-top: 1%;
}
.small1 img{
    width: 30%;
    height: 300px;
    margin-left: 3%;
    float: left;
}
.small2 button{
    float: left;
    margin-left:4%;
    margin-top: 0.7%;
    font-size: large;
    background-color:yellowgreen;
}
.small2 p{
    float: left;
    margin-left: 4%;
    margin-top: 1%;
}
.small2 img{
    width: 43%;
    height: 400px;
    margin-left: 5%;
    float: left;
}
.small2{
    width: 100%;
    float: left;
    margin-bottom: -5%;
}
.topping{
    margin-top: 50px;
    margin-left: 10%;
    width: 80%;
    display: inline-flex;
    height: 50%;
    flex-wrap:wrap;
    margin-bottom: 10%;
}
.t1 img{

    width: 250px;
    height: 200px;
    border-radius: 50%;
}
.t1 button{
    width: 70%;
    float: left;
    /* margin-left: 30%; */
}
.t1{
    width: 250px;
    height: 350px;
}
.t1 p{
    width: 70%;
    margin-left: 30%;
    float: left;
}
.crusts h6{
    margin-top: -3%;
    font-family: cursive;
    font-size: 25px;
    text-align: center;
    color: darkgoldenrod;
    font-style: italic;
    width: 100%;
    float: left;
    /* line-height: 30px; */
}
.crusts img{
    width: 100%;
    height: 300px;
    float: left;
    padding: 5%;
    border-radius: 5%;
    /* margin-left: 60%; */
}
.c1{
    width: 25%;
    height: 400px;
    float: left;
}

.c1 img{
    border-radius: 50%;
    padding: 5%;
    width: 70%;
    height: 50%;
}
.crusts P{
    margin-left: 25%;
}
.crusts{
    margin-left: 10%;
    width: 80%;
    margin-bottom: 400px;
    
}
.order{
    width: 100%;
    float: left;
    text-align: center;
    font-size:40px;
    /* margin-top: 50%; */
}
.order-now{
    float: left;
    margin-left: 40%;
    /* background-color: lightgreen; */
    width: 20%; 
    border-radius: 5px;
    min-height: 150px;
    margin-top: 7%;
}
table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: -50%;
  }
  
  th {
    height: 50px;
  }
  .order-now button{
      margin-left: 30%;
      margin-top: 10%;
  }